<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title th:text="#{cadastro.titulo}"></title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="col-md-12" style="text-align: center">
                <h1 th:text="#{cadastro.tituloView}"></h1>            
            </div>
            
            <form th:action="@{/usuario/cadastrar}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label th:text="#{cadastro.labelNomeUsuario}"></label>
                    <input type="text" name="nomeUsuario" class="form-control" pattern="[^(){}/<>[\]\\,'*´`^ªº.;:?°~ç\-+¨=§¬¢£&%$#!@|\x22]+" minlength="5" maxlength="15" required/>    
                </div>
                <div class="form-group">
                    <label th:text="#{cadastro.labelSenha}"></label>
                    <input type="password" name="senha" class="form-control" required />    
                </div>
                <br />
                <div class="form-group">
                    <label th:text="#{cadastro.labelFoto}"></label>
                    <input type="file" name="foto" accept="image/*" required />
                </div>
                <br />
                <div class="form-group">
                    <label th:text="#{cadastro.labelDescricao}"></label>
                    <textarea class="form-control" name="descricao" rows="3" required></textarea>
                </div>
                <br />
                <button type="submit" class="btn btn-primary" th:text="#{cadastro.botaoCadastrar}"></button>
            </form>

            <br>
            <p><a href="javascript:history.back()" class="btn btn-default" th:text="#{allPages.botaoVoltar}"></a></p>    
        </div>
        
    </body>
    
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
