<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Feed</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    <body>
        <div class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="col-md-9">
                    <div class="row" style="border: 1px solid black; padding: 10px">
                        <form name="formPostarMensagem" th:action="@{/postagem/adicionar}" method="post" onsubmit="teste();">
                            
                            <textarea name="mensagem" class="form-control" style="resize: none" cols="30" rows="5" th:placeholder="#{feed.placeholder}"></textarea>
                            
                            <button type="submit" class="btn btn-default" style="margin-top: 10px" th:text="#{feed.botaoEnviar}"></button>
                        </form>
                    </div>
                    
                    <!-- Lista de posts -->
                    <div class="row" style="border: 1px solid black;">
                        <div th:if="${not #lists.isEmpty(session.postagens)}">
                            <div th:each="postagem : ${session.postagens}">
                                <div class="row" style="border: 1px solid black; margin: 10px; padding: 10px">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img th:src="${postagem.usuario.foto}" width="48" height="48" />
                                        </div>
                                        <div class="col-md-8">
                                            <p>@<span th:text="${postagem.usuario.nomeUsuario}"></span></p>
                                            <p><span th:utext="${postagem.mensagem}"></span><p>
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="text-align: center">
                                        <div class="col-md-offset-4 col-md-4">
                                            <a th:href="@{/postagem/{id}(id = ${postagem.id})}" th:text="#{feed.linkPostagem}"></a>
                                        </div>
                                        <div class="col-md-4">
                                            <span th:if="${postagem.usuario.id == session.id_usuario}">
                                                <a th:href="@{/postagem/excluir/{id}(id = ${postagem.id})}" class="btn btn-danger" th:text="#{feed.botaoExcluirPostagem}"></a>  
                                            </span>
                                        </div>
                                    </div>    
            
                                </div>
                            </div>      
                        </div> 
                    </div>
                    
                </div>

                <!-- Info do usuario -->
                <div class="col-md-3" >
                    <div class="row">
                        <div style="padding: 0 10px 0 10px">
                            <img th:src="${session.foto}" height="190" class="col-md-12" /> <br>
                            <div class="col-md-12">@<span th:text="${session.nome_usuario}"></span></div>
                            <div class="row">
                                <div class="col-md-12" style="word-wrap: break-word;"><span th:text="${session.descricao}"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div style="margin: 10px 10px 0 10px">
                            <a th:href="@{/postagem/favoritos}" class="btn btn-default col-md-12" th:text="#{feed.botaoFavoritos}"></a>
                            <a th:href="@{/sair}" class="btn btn-danger col-md-12" th:text="#{feed.botaoSair}"></a>
                        </div>
                    </div>
                </div>

            </div> <!-- row -->
        </div> <!-- container -->
            
        
        
    </body>
    
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script th:src="@{/js/mention.js}"></script>
</html>
