<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Microblog</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="col-md-12" style="text-align: center">
                <h1>Microblog</h1>
                <h2>Login</h2>
            </div>
            
            <form name="login" method="POST" action="entrar">
                <div class="form-group">
                    <label th:text="#{login.labelUsuario}"></label>
                    <input type="text" name="usuario" class="form-control" />    
                </div>
                <div class="form-group">
                    <label th:text="#{login.labelSenha}"></label>
                    <input type="password" name="senha" class="form-control" />    
                </div>
                <br>
                <!--<input type="submit" value="Entrar" class="btn btn-default" />-->
                <button type="submit" class="btn btn-primary" th:text="#{login.botaoEntrar}"></button>
            </form>

            <br>

            <span th:text="#{login.textoCadastrar}"></span> <a th:href="@{/cadastro}" th:text="#{login.linkCadastrar}"></a>
        </div>
        
    </body>
    
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
</html>
