<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title th:text="${usuario.nomeUsuario}"></title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:text="#{allPages.appName}"></a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a th:href="@{/feed}" th:text="#{allPages.menuHome}"></a></li>
                  </ul>
                  <form class="navbar-form navbar-left" method="GET" th:action="@{/pesquisar}">
                    <div class="input-group">
                      <input type="text" id="nomePesquisa" name="nome" class="form-control">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a th:href="@{/@{nome}(nome = ${session.nome_usuario})}"><span class="glyphicon glyphicon-user"></span> <span th:text="${session.nome_usuario}"></span></a></li>
                      <li><a th:href="@{/sair}"><span class="glyphicon glyphicon-log-out"></span> <span th:text="#{allPages.menuSair}"></span></a></li>
                  </ul>  
                </div>
            </nav>
        </div>
        
        <div class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="col-md-9">
                    <div class="row" style="border: 1px solid black;">
                        <div th:if="${not #lists.isEmpty(postagens)}">
                            <div th:each="postagem : ${postagens}">
                                <div class="row" style="border: 1px solid black; margin: 10px; padding: 10px">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img th:src="${usuario.foto}" width="48" height="48" />
                                        </div>
                                        <div class="col-md-8">
                                            <p>@<span th:text="${usuario.nomeUsuario}"></span></p>
                                            <p><span th:utext="${postagem.mensagem}"></span><p>
                                            <p th:if="${postagem.usuario.id == session.id_usuario}">
                                                <a th:href="@{/postagem/excluir/{id}(id = ${postagem.id})}" class="btn btn-danger" th:text="#{usuario.botaoExcluirPostagem}"></a>  
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="text-align: center">
                                        <div class="col-md-offset-4 col-md-4">
                                            <a th:href="@{/postagem/{id}(id = ${postagem.id})}" th:text="#{feed.linkPostagem}"></a>
                                        </div>
                                        <div class="col-md-4">
                                            <span th:if="${postagem.usuario.id == session.id_usuario}">
                                                <a th:href="@{/postagem/excluir/{id}(id = ${postagem.id})}" class="btn btn-danger" th:text="#{feed.botaoExcluirPostagem}"></a>  
                                            </span>
                                        </div>
                                    </div>    
            
                                </div>
                            </div>      
                        </div> 
                    </div>
                    
                </div>

                <div class="col-md-3" >
                    <div class="row">
                        <div style="padding: 0 10px 0 10px">
                            <img th:src="${usuario.foto}" height="190" class="col-md-12" /> <br>
                            <div class="col-md-12">@<span th:text="${usuario.nomeUsuario}"></span></div>
                            <div class="row">
                                <div class="col-md-12" style="word-wrap: break-word;"><span th:text="${usuario.descricao}"></span></div>    
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div style="margin: 10px 10px 0 10px">
                            <div th:if="${estaSeguindo}">
                                <a th:href="@{/usuario/desseguir/{id_seguindo}?nomeUsuario={nome_usuario} (id_seguindo = ${usuario.id}, nome_usuario = ${usuario.nomeUsuario}) }" class="btn btn-primary col-md-12" th:text="#{usuario.botaoSeguindo}"></a>
                            </div>
                            <div th:if="${not estaSeguindo and session.id_usuario ne usuario.id}">
                                <a th:href="@{/usuario/seguir/{id_seguir}?nomeUsuario={nome_usuario} (id_seguir = ${usuario.id}, nome_usuario = ${usuario.nomeUsuario}) }" class="btn btn-default col-md-12" th:text="#{usuario.botaoSeguir}"></a>
                            </div>
                            <br><br>
                            <!--<a th:href="@{/feed}" class="btn btn-success col-md-12" th:text="#{usuario.botaoHome}"></a>-->
                        </div>
                    </div>
                </div>

            </div> <!-- row -->
        </div> <!-- container -->        
                
                
                
    </body>
    
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script th:src="@{/js/autocomplete.js}"></script>
</html>
